<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="system_hardware_store.Properties.Settings.registroConnectionString"
            connectionString="Data Source=DESKTOP-50MSEBU;Initial Catalog=dbproyectoventas;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="system_hardware_store.Properties.Settings.dbproyectoventasConnectionString"
            connectionString="Data Source=.;Initial Catalog=dbproyectoventas;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>